@model ISCAP.ViewModel.ReadConferenceScheduleViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h3>Welcome to the EDSIG conferences Submission Site</h3>
    <br />

</div>

@{
    Html.RenderPartial("~/Views/ConferenceSchedule/Schedule.cshtml");
}