@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h3>Welcome to the EDSIG conferences Submission Site</h3>
    <br />



    <p>Conference Location:</p>
    <p>Conference Date:</p>
    <p>Conference Times:</p>

</div>