@model IEnumerable<ApplicationUser>
<div class="bg-primary panel-body"><h4>User Accounts</h4></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<a class="btn btn-info" href="~/Admin/Details">View Users</a>
<a class="btn btn-info" href="~/RoleAdmin">View Roles</a>