@model ISCAP.Models.ConferenceSchedule

@{
    Layout = null; 
}

<h2>ConferenceSchedule</h2>

<h3>Wednesday, November 4 - 8:30 to 10:10 a.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>8:30 to 8:55 am</th>
        <th>8:55 to 9:20 am</th>
        <th>9:20 to 9:45 am</th>
        <th>9:45 to 10:10 am</th>
    </tr>
</table>
