@model IEnumerable<ISCAP.Models.AccountViewModels.ScheduledConferenceViewModel>

@{
    Layout = null;
}

<h2>ConferenceSchedule</h2>

<h3>Sunday, November 6 - 4:30 to 6:10 p.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>4:30 to 4:55 pm</th>
        <th>4:55 to 5:20 pm</th>
        <th>5:20 to 5:45 pm</th>
        <th>5:45 to 6:10 pm</th>
    </tr>
</table>