@model ISCAP.Models.ConferenceSchedule

@{
    Layout = null;
}

<h2>ConferenceSchedule</h2>

<h3>Tuesday, November 8 - 9:00 to 10:20 a.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>9:00 to 9:25 am</th>
        <th>9:25 to 9:50 am</th>
        <th>9:50 to 10:05 am</th>
        <th>10:05 to 10:20 am</th>
    </tr>
</table>

<h3>Tuesday, November 8 - 10:40 to 11:55 a.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>10:40 to 11:05 am</th>
        <th>11:05 to 11:30 am</th>
        <th>11:30 to 11:55 am</th>
    </tr>
</table>

<h3>Tuesday, November 8 - 2:00 to 3:20 p.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>2:00 to 2:25 pm</th>
        <th>2:25 to 2:50 pm</th>
        <th>2:50 to 3:05 pm</th>
        <th>3:05 to 3:20 pm</th>
    </tr>
</table>

<h3>Tuesday, November 8 - 3:40 to 4:55 p.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>3:40 to 4:05 pm</th>
        <th>4:05 to 4:30 pm</th>
        <th>4:30 to 4:55 pm</th>
    </tr>
</table>