@model ISCAP.Models.ConferenceSchedule

@{
    Layout = null;
}

<h2>ConferenceSchedule</h2>

<h3>Monday, November 7 - 9:00 to 10:20 a.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>9:00 to 9:25 am</th>
        <th>9:25 to 9:50 am</th>
        <th>9:50 to 10:15 am</th>
    </tr>
</table>

<h3>Monday, November 7 - 10:35 to 11:50 a.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>10:35 to 11:00 am</th>
        <th>11:00 to 11:25 am</th>
        <th>11:25 to 11:50 am</th>
    </tr>
</table>

<h3>Monday, November 7 - 1:50 to 3:30 p.m.</h3>

<table>
    <tr>
        <th>Location</th>
        <th>Chair</th>
        <th>1:50 to 2:15 pm</th>
        <th>2:15 to 2:40 pm</th>
        <th>2:40 to 3:05 pm</th>
        <th>3:05 to 3:30 pm</th>
    </tr>
</table>