@model ISCAP.ViewModel.ConferenceScheduleViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Authors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <form style="display:inline-block;" action="/ConferenceSchedule/Save" method="post">
        <span class="label label-default">Location</span> <input type="text" name="location" value="" /> <br />
        <span class="label label-default">Chair</span> <input type="text" name="chair" value="" /> <br />
        <span class="label label-default">Date</span> <input type="text" name="date" value="" /> <br /> <br />
        @if (Model.number != 0)
        {
            @for (int i = 0; i <= Model.number; i++)
            {
                <span class="label label-default">Session @i</span> <br />
                <span class="label label-default">Conference</span>
                <select name="Session[@i].conference">
                    <option value="Sunday">CONISAR</option>
                    <option value="Monday">EDSIG</option>
                </select> <br />
                <span class="label label-default">Title</span> <input type="text" name="Session[@i].title" value="" /> <br />
                <span class="label label-default">Authors</span> <input type="text" name="Session[@i].authors" value="" /> <br />
                <span class="label label-default">Paper Type</span> 
                <select name="paperType">
                    <option value="CONISAR Abstract">CONISAR Abstract</option>
                    <option value="CONISAR Paper">CONISAR Paper</option>
                    <option value="EDSIG Abstract">EDSIG Abstract</option>
                    <option value="EDSIG Case">EDSIG Case</option>
                    <option value="EDSIG Case(TorB)">EDSIG Case (Teaching or Business)</option>
                    <option value="EDSIG Panel">EDSIG Panel</option>
                    <option value="EDSIG Paper">EDSIG Paper</option>
                    <option value="EDSIG Workshop">EDSIG Workshop</option>
                </select> <br />
            }
        }
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
    <form style="display:inline-block; vertical-align:top" action="/ConferenceSchedule/SessionForm/" method="post">
        <br />
        <span class="label label-default">Number of sessions</span> <input type="text" name="number" value="" />
        <button type="submit" value="Generate Sessions">Generate Sessions</button>
    </form>
</body>
</html>