@model ISCAP.Models.Slot

@{
    ViewData["Title"] = "Slots";
}

<h2>Create Slot</h2>

<form asp-action="Index">
    <div class="form-horizontal">
        <h4>Author</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="conference" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="conference" class="form-control" />
                <span asp-validation-for="conference" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="authors" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="authors" class="form-control" />
                <span asp-validation-for="authors" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="slotTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="slotTime" class="form-control" />
                <span asp-validation-for="slotTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}